# jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# python
__pycache__

# Foreign models
/TransUnetCode/TransUnet
/TransUnetCode/TransUnet_old.py
/TransUnetCode/TransUnet_testing.py

# Colab stuff
auto_colab.py

# random stuff i tested but not used
PyTorchAorta_colab.ipynb
PyTorchAorta.ipynb

/testing_scripts
dataset.py

# Venv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

share
TransUnetCode\combined_models.py
